// Définition des tailles de police en rem
$font-size-xs: 0.8rem;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-xl: 1.6rem;

// Exemple d'utilisation de la fonction calc pour calculer une taille de police
$font-size-custom: calc(#{$font-size-md} + 0.2rem);

// Classes pour appliquer les tailles de police
.text-xs {
  font-size: $font-size-xs;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-md {
  font-size: $font-size-md;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-xl {
  font-size: $font-size-xl;
}

.text-custom {
  font-size: $font-size-custom;
}
